nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content; /* jitni chaaiye utni width */
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2; /* for making it look more over other text and picture */
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px); /* to make its background blur when it goes over other texts and pictures */
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active { /* that anchor tag whose class is active */
    background: var(--color-primary);
    color: var(--color-bg);
}